.column {
  border: 1px solid black;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 55px;
  margin: 1px;
  font-size: 200%;
}

.container {
  text-align: center;
  margin-top: 200px;
}

.alert {
  width: 50%;
  margin: 50px auto;
}

span.unset {
  visibility: hidden;
}